<p-table [value]="packets" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Protocol</th>
      <th>Source Port</th>
      <th>Destination Port</th>
      <th>Sequence</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-packet>
    <tr>
      <td>{{ packet.protocol }}/{{packet.name}}</td>
      <td>{{ packet.src }}</td>
      <td>{{ packet.dest }}</td>
      <td>{{ packet.sequence }}</td>
    </tr>
  </ng-template>
</p-table>
<!-- print all messages -->
<div *ngFor="let msg of messages">
  <p>{{ msg | json }}</p>
</div>
