<p-table [value]="arpTable">
  <ng-template pTemplate="header">
    <tr>
      <th>IP Address</th>
      <th>HW Type</th>
      <th>MAC Address</th>
      <th>Flags</th>
      <th>Interface</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-arp>
    <tr>
      <td>{{ arp.ip }}</td>
      <td>{{ arp.hwtype }}</td>
      <td>{{ arp.mac }}</td>
      <td>{{ arp.flags }}</td>
      <td>{{ arp.mask }}</td>
      <td>
        <p-button
          pRipple
          icon="pi pi-info"
          class="p-button-rounded p-button-info"
          (click)="clickedItem(arp)"
        >
        </p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
