<div class="packet">
    <h3> ID: {{packet.id}} </h3>
    <p> Source: {{packet.source}} </p>
    <p> Destination: {{packet.destination}} </p>
    <p> Sequence: {{packet.sequence}} </p>
    <p> ACK: {{packet.ack}} </p>
    <p> Protocol: {{packet.protocol}} </p>
    <p> URG: {{packet.URG}} </p>
    <p> ACK: {{packet.ACK}} </p>
    <p> PSH: {{packet.PSH}} </p>
    <p> RST: {{packet.RST}} </p>
    <p> SYN: {{packet.SYN}} </p>
    <p> FIN: {{packet.FIN}} </p>
    <p> Data: {{packet.data}} </p>
    <p> Size: {{packet.size}} </p>
    <p> Type: {{packet.type}} </p>
    <p> Code: {{packet.code}} </p>
    <p> Checksum: {{packet.checksum}} </p>
    <p> Header length: {{packet.header_length}} </p>
    <p> TTL: {{packet.ttl}} </p>
</div>