<div class="arp">
  <div class="whois" *ngIf="whois">
    <h3>Whois</h3>
    <p>Net Range: {{ whois.net_range }}</p>
    <p>CIDR: {{ whois.cidr }}</p>
    <p>Net Name: {{ whois.net_name }}</p>
    <p>Net Handle: {{ whois.net_handle }}</p>
    <p>Parent: {{ whois.parent }}</p>
    <p>Net Type: {{ whois.net_type }}</p>
    <p>Origin AS: {{ whois.origin_as }}</p>
    <p>Organization: {{ whois.org?.name }}</p>
  </div>
  <div class="nmap" *ngIf="nmap">
    <h3>Nmap</h3>
    {{ data.nmap }}
  </div>
</div>
